*{
  margin: 0px;
  padding: 0px;
}
/* ::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: greenyellow;
}
::-webkit-scrollbar-thumb{
  background: orange;
} */
.header{
  /* margin-top:20px; */
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size:20px;
  padding: 2px;
  background-color: greenyellow;
  font-weight: bolder;
  width: 100%;
  position:sticky;
  top:0;
}
.logo{
  margin-left: 2em;
  font-weight: bold;
  color:royalblue;
  font-family: 'serif';
  font-size:35px;
  text-shadow: 3px 3px 5px orange;
}
nav{
  display: flex;
  flex-direction: row;
  margin-left: 15em;
  overflow: hidden;
  margin-top:4px;
  font-family: 'serif';
  float:right
}
nav > a{
  margin:21px;
  text-decoration: none;
  text-align: center;
  /* color:black; */
  color: darkorange;
  cursor: pointer;
}
nav > a:hover{
  text-decoration: none;
  color:white;
  text-shadow: 2px 2px 5px #000000;
  font-size:23px;
}
nav > a:focus{
  color:darkred;
}
/* .sticky{
  position: fixed;
  top: o;
  width: 100%;
} */
